body  {
  background-color: antiquewhite;
}
.page-header  {
  text-align: center;
  background-color: rgb(137, 128, 236);
  border: 4px solid rgb(155, 43, 43);
  color: rgb(137, 128, 236);
  text-shadow: 5px 5px 8px #000000;
  margin-bottom: 2%; 
  font-family: Segoe Print;
}
.page-header h1 {
  -webkit-text-stroke: 2px rgb(155, 43, 43);
}
.page-header b {
  -webkit-text-stroke: 1px rgb(155, 43, 43);
}
.col-lg-6 {
  padding-bottom: 1%;
  padding-top: 1%;
}
#age {
  position: relative;
  left: 20%;
}
#age-label {
  position: relative;
  left: 20%
}
.btn  {
  border: 1px solid black;
  position: relative;
  left: 45%;
}
.btn:hover  {
  background-color: rgb(255, 255, 255);
}
#times-list {
  position: relative;
  left: 10%
}
#times-label {
  position: relative;
  left: 10%
}